{% extends 'layout.html' %}
{% block content %}
<h1>Add Hardware</h1>
<form method="post">
    <label>Name:<input type="text" name="name"></label><br>
    <label>Group ID:<input type="number" name="group_id"></label><br>
    <label>Person ID:<input type="number" name="person_id"></label><br>
    <button type="submit">Add</button>
</form>
<form method="post" action="{{ url_for('add_grp') }}">
    <input type="text" name="name" placeholder="New group name">
    <button type="submit">Add Group</button>
</form>
<form method="post" action="{{ url_for('add_prs') }}">
    <input type="text" name="name" placeholder="New person name">
    <button type="submit">Add Person</button>
</form>
{% endblock %}
